{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.state) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.apiCityId) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.save, {'attr': {'class': 'btn-block btn btn-primary saveBtn'}}) }}
    </div>
</div>
{{ form_end(form) }}
