<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Paweł Lodzik">
        <meta name="description" content="Weather Manager">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('fontawesome-free-5.12.0-web/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% set containerClass = 'container' %}
        {% if containerClassFluid is defined and containerClassFluid %}
            {% set containerClass = 'container-fluid' %} 
        {% endif %}
        <div class="{{ containerClass }}">
            {% if app.user %}
                {% include 'base/nav.html.twig' %}
            {% endif %}
            
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery.form.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('js/i18n/defaults-en_US.min.js') }}"></script>
        <script src="{{ asset('js/i18n/defaults-pl_PL.min.js') }}"></script>
        <script src="{{ asset('js/moment.js') }}"></script>
        <script src="{{ asset('js/moment/pl.js') }}"></script>
        <script src="{{ asset('js/tempusdominus-bootstrap-4.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
